#!/bin/zsh

source ~/.exports

eval "$({{ template "brew-prefix" . }}/bin/brew shellenv)"

source "$(brew --prefix)/opt/antidote/share/antidote/antidote.zsh"
antidote load

{{ if eq .chezmoi.os "darwin" -}}
source ~/.op/plugins.sh
{{- end }}

source ~/.aliases

if command -v wt >/dev/null 2>&1; then
	eval "$(command wt config shell init zsh)"
fi
