#!/usr/bin/env bash

extensions=(
{{- range (include (joinPath .chezmoi.workingTree "extensions.toml") | fromToml).extensions }}
	{{ . | quote }}
{{- end }}
)

for extension in "${extensions[@]}"; do
	cursor --install-extension "$extension"
done
