{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash
set -euo pipefail

sudo sed -i -E "s/(\s)$(hostname)(\s|$)/\1workbox\2/" /etc/hosts
sudo hostnamectl set-hostname workbox

sudo DEBIAN_FRONTEND=noninteractive apt-get update
sudo DEBIAN_FRONTEND=noninteractive apt-get -y upgrade
sudo DEBIAN_FRONTEND=noninteractive apt-get -y install \
	build-essential ca-certificates curl file git locales mosh procps \
	ufw unattended-upgrades zsh

sudo locale-gen en_AU.UTF-8
sudo update-locale LANG=en_AU.UTF-8

sudo tee /etc/apt/apt.conf.d/20auto-upgrades >/dev/null <<-EOT
	APT::Periodic::Update-Package-Lists "1";
	APT::Periodic::Unattended-Upgrade "1";
EOT

sudo usermod --shell /usr/bin/zsh "$USER"
sudo loginctl enable-linger "$USER"
{{ else if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash
set -euo pipefail
# MacOS build version: {{ output "sw_vers" "--buildVersion" }}

clt_label=$(softwareupdate --list 2>/dev/null |
	sed -n 's/^\* Label: \(Command Line Tools.*\)$/\1/p' | sort -V | tail -n1)

if [[ -n "$clt_label" ]]; then
	sudo softwareupdate --install "$clt_label"
fi
{{ end -}}
