{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash
set -euo pipefail

extensions=(
{{- range .cursorExtensions }}
	{{ . | quote }}
{{- end }}
)

for extension in "${extensions[@]}"; do
	cursor --install-extension "$extension" --force
done
{{ end -}}
