#!/usr/bin/env bash

extensions=(
	"bmewburn.vscode-intelephense-client"
	"bradlc.vscode-tailwindcss"
	"dbaeumer.vscode-eslint"
	"docker.docker"
	"esbenp.prettier-vscode"
	"hverlin.mise-vscode"
	"mikestead.dotenv"
	"mkhl.shfmt"
	"ms-playwright.playwright"
	"redhat.vscode-yaml"
	"tamasfe.even-better-toml"
	"unifiedjs.vscode-mdx"
	"void-zero.vite-plus-extension-pack"
)

for extension in "${extensions[@]}"; do
	cursor --install-extension $extension
done
