#!/usr/bin/env bash
set -euo pipefail
{{ if eq .chezmoi.os "darwin" -}}
# MacOS build version: {{ output "sw_vers" "--buildVersion" }}
{{ end -}}
# mise config.toml hash: {{ include "dot_config/mise/config.toml" | sha256sum }}

{{ template "script-path" . }}

mise self-update --yes
mise install
