#!/usr/bin/env bash

{{ template "script-path" . }}

{{ range $repo, $skills := .skills }}
npx skills add {{ $repo | quote }} {{ range $skills }}--skill {{ . }} {{ end }}--yes --global --agent claude-code{{ if eq $.chezmoi.os "darwin" }} --agent cursor{{ end }}
{{- end }}
