"*":
  "atom-package-deps":
    ignored: [
      "linter-xo"
    ]
  core:
    customFileTypes:
      "source.ini": [
        ".hgrc"
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "no"
  editor:
    fontFamily: "Hack"
    fontSize: 12
    lineHeight: 2
  "exception-reporting":
    userId: "d6cc59fd-d3e0-48ad-998b-33af591b7072"
  "file-icons": {}
  "ide-flowtype":
    tryFlowBin: true
  "language-babel": {}
  linter:
    "linter-eslint":
      disableWhenNoEslintrcFileInPath: true
    "linter-jshint":
      disableWhenNoJshintrcFileInPath: true
    "markdown-preview":
      useGitHubStyle: true
  "linter-ui-default":
    panelHeight: 129
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  nuclide:
    hyperclick:
      darwinTriggerKeys: "ctrlKey"
    "nuclide-flow":
      canUseFlowBin: true
    "nuclide-home":
      showHome: false
    "nuclide-working-sets": {}
    use: {}
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      isDisabledIfNotInPackageJson: true
    prettierOptions:
      singleQuote: true
    useEslint: true
  "scroll-through-time":
    direction: "right"
  "status-bar":
    isVisible: false
  "tree-view":
    autoReveal: true
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
